body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1779px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1779px;
}
#u74 {
  position:absolute;
  left:2px;
  top:882px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:70px;
  background:inherit;
  background-color:rgba(246, 249, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  position:absolute;
  left:307px;
  top:1108px;
  width:497px;
  height:70px;
}
#u76 {
  position:absolute;
  left:2px;
  top:27px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:317px;
  top:1133px;
}
#u77_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u77_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:42px;
  color:#959698;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:43px;
  font-size:42px;
  color:#959698;
}
#u79 {
  position:absolute;
  left:0px;
  top:-2px;
  width:476px;
  word-wrap:break-word;
}
#u77_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u77_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:42px;
  color:#959698;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:43px;
  font-size:42px;
  color:#959698;
}
#u81 {
  position:absolute;
  left:0px;
  top:-2px;
  width:476px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:21px;
  top:15px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83 {
  position:absolute;
  left:0px;
  top:125px;
  width:32px;
  height:1654px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
